<div class="container border-light-subtle">
    <div class="card border-light-subtle">
        <div class="card-header">
            <h1 class="card-title text-center text-info"> {{titulo}} </h1>
        </div>
        <div class="card-body text-center text-primary">
            <form>
                <div class="mb-3 ">
                  <label for="idC" class="form-label">ID de la Receta</label>
                  <input type="number" class="form-control" id="idC" name="v1" [(ngModel)]="receta.idReceta">
                </div>
            
                <div class="mb-3">
                  <label for="nombreC" class="form-label">Fecha</label>
                  <input type="text" class="form-control" id="nombreC"  name="v2" [(ngModel)]="receta.fecha">
                </div>

                <div class="mb-3">
                    <label for="descripcionC" class="form-label">Medicamento</label>
                    <input type="text" class="form-control" id="descripcionC"  name="v3" [(ngModel)]="receta.medicamento">
                </div>

                <div class="mb-3">
                    <label for="descripcionC" class="form-label">Indicaciones</label>
                    <input type="text" class="form-control" id="descripcionC"  name="v4" [(ngModel)]="receta.indicaciones">
                </div>

                <div class="mb-3">
                    <label for="descripcionC" class="form-label">idReceta</label>
                    <input type="number" class="form-control" id="descripcionC"  name="v5" [(ngModel)]="receta.idConsulta.idConsulta">
                </div>
                  
                  <div class="d-grid gap-2">
                    <button *ngIf="receta.idReceta === 0" 
                    type="submit" 
                    class="btn btn-primary" 
                    (click)="registrarReceta()">Registrar Receta</button>

                    <button *ngIf="receta.idReceta !== 0" 
                    type="submit" 
                    class="btn btn-success" 
                    (click)="updateReceta()">Actualizar Receta</button>
                </div>

                <!-- <div class="d-grid gap-2">
                    @if (receta.idReceta === 0) {
                        <button type="submit" class="btn btn-primary" (click)="registrarReceta()">Registrar Datos</button>
                    } @else {
                        <button type="submit" class="btn btn-success" (click)="actualizarReceta()">Actualizar Datos</button>
                    }
                </div> -->
                
                
            </form>
        </div>
    </div>
</div>

