<div class="container-fluid bg-dark">
    <h2 style="text-align: center; height:50px; vertical-align: middle;" class="text-white">
        Agregar vacuna
    </h2>
</div>

<mat-dialog-content>
    <div class="container">
        <form id="login-form" [formGroup]="vacunaForm">

            <!-- nombre -->
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="nombre">Nombre*
                        <!-- <i class="fa fa-github-alt"></i> -->
                    </label>
                </div>
                <div class="col-md-12">
                    <input type="text" id="nombre" style="width: 100%;" name="nombre" formControlName="nombre" required
                        size="30">
                    <div *ngIf="submitted && f['nombre'].errors" class="text-black">
                        El nombre es obligatorio.
                    </div>
                </div>
            </div>

            <!-- Tipo -->
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="tipo">Tipo*
                        <!-- <i class="fas fa-envelope"></i> -->
                    </label>
                </div>
                <div class="col-md-12">
                    <select formControlName="tipo" style="width: 100%;" id="tipo">
                        <option *ngFor="let opcion of tiposMascota" [value]="opcion">{{ opcion }}</option>
                    </select>
                    <div *ngIf="submitted && f['tipo'].errors" class="text-black">
                        El tipo es obligatorio.
                    </div>
                </div>
            </div>

            <!-- Unidades -->
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="tipo">
                        Unidades disponibles
                    </label>
                </div>
                <div class="col-md-12">
                    <input type="text" id="unidades" style="width: 100%;" name="unidades" formControlName="unidades"
                        size="5">
                </div>
            </div>

            <!-- observaciones -->
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="tipo">Observaciones
                        <!-- <i class="fas fa-envelope"></i> -->
                    </label>
                </div>
                <div class="col-md-12">
                    <textarea id="observacion" name="observacion" 
                        formControlName="observaciones"  style="width: 100%;">
                    </textarea>
                </div>
            </div>

        </form>
    </div>
</mat-dialog-content>

<mat-dialog-actions style="justify-content: center;">
    <button mat-button class="btn btn-lg btn-primary px-3 d-none d-lg-block" (click)="volver()">Volver</button>
    <div style="width: 20px;"></div>
    <button mat-button class="btn btn-lg btn-primary px-3 d-none d-lg-block" (click)="agregarVacuna()">Agregar</button>
</mat-dialog-actions>