<div class="row">
    <div class="col-md-7">
        <h1>{{ usuarioDTO.nombre }} <i class="fa fa-light fa-paw"></i></h1>
        <h3>Cédula: {{ usuarioDTO.cedula }}</h3>
        <h3>Correo: {{ usuarioDTO.correo }}</h3>
        <h3>Celular: {{ usuarioDTO.celular }}</h3>
        <h3>Mascotas registradas: {{usuarioDTO.cantidadMascotas}}</h3>
        <h3>Citas pendientes: {{usuarioDTO.citasPendientes}}</h3>
    </div>
    <div class="col-md-5">
        <img src="{{ usuarioDTO.imagenUser }}" class="card-img-top"
            alt="Imagen de {{ usuarioDTO.nombre }}" style="width: 300px; height: 300px;">
    </div>
</div>
