<div class="container-fluid bg-dark">
    <h2 style="text-align: center; height:50px; vertical-align: middle;" class="text-white">
        Información cita
    </h2>
</div>

<mat-dialog-content>

    <div class="row">
        <div class="col-md-12">
            <p><b>Veterinario:</b> {{ citaConsultar.nombreVeterinario }}</p>
        </div>

        <div class="col-md-12">
            <p *ngIf="vacunacion">
                <b>Vacuna aplicada:</b> {{ citaConsultar.nombreVacuna }}
            </p>
        </div>

        <div class="col-md-12">
            <p><b>Observaciones:</b> {{ citaConsultar.observaciones }}</p>
        </div>
    </div>

    <div class="row" style="justify-content: center;">

        <button mat-button class="btn btn-lg btn-primary px-3 d-none d-lg-block" (click)="volver()">
            Aceptar
        </button>
    </div>
</mat-dialog-content>