<div class="row">
    <div class="col-md-7">
        <h2>Editar Información</h2>
        <form id="editar-form" [formGroup]="editForm">
            <div class="form-group">
                <h4 for="nombre">Nombre</h4>
                <input type="text" id="nombre" name="nombre" formControlName="nombre"
                    class="form-control" style="width: 100%;" [(ngModel)]="NombreEditar">
            </div>
            <div class="form-group">
                <h4 for="correo">Correo</h4>
                <input type="email" id="correo" name="correo" formControlName="correo"
                    class="form-control" style="width: 100%;" [(ngModel)]="CorreoEditar">
                <div *ngIf="submittedEdit && f['correo'].errors" class="text-black">
                    {{ mensajeCorreo }}
                </div>
            </div>
            <div class="form-group">
                <h4 for="celular">Celular</h4>
                <input type="email" id="celular" name="celular" formControlName="celular"
                    class="form-control" style="width: 100%;" [(ngModel)]="celularEditar">
            </div>
        </form>
        <button (click)="editarUsuario()" class="btn btn-lg btn-primary px-3 d-none d-lg-block">
            Guardar Cambios
        </button>
    </div>
    <div class="col-md-5">
        <img src="{{ usuarioDTO.imagenUser }}" class="card-img-top" id="imagePreview"
            alt="Imagen de {{ usuarioDTO.nombre }}" style="width: 300px; height: 300px;">
        <label for="fileInput" class="custom-file-upload">
            <input type="file" id="fileInput" (change)="handleFileInput($event)">
            Cambiar foto
        </label>
    </div>
</div>